body {
    margin: 0;
}

.overflowClip_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.overflowClip_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

b, strong {
    font-weight: 700;
}

body {
    font-family: Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2c2e2f;
    background-color: #fff;
}

.subtitle {
    color: #979898;
}

body,.el-button {
    font-family: ke ai;
    font-size: large;
    line-height: 20px;
}

a[href] {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

#app {
  height: 100vh;
  .common-layout {
    height: 100%;
  }
  .el-header {
    padding: 0;
  }
  .el-container {
    height: 100%;
  }
}